/* F O N T S */
/*--------------------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/*----------------------*/
/*---------------------------------*/
/* R E S E T */
/*---------------------------------*/



*,
*::before,
*::after {
    box-sizing: border-box;
}

/** {
    margin: 0;
    padding: 0;
}*/

ul[role='list'],
ol[role='list'] {
    list-style: none;
}

html:focus-within {
    scroll-behavior: smooth;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img,
picture,
svg,
video,
canvas {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
}

/*input, button, textarea, select{
    font: inherit; 
}*/

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition: none;
    }
}

body,
html {
    height: 100%;
    scroll-behavior: smooth;
}

/*--------------------*/

/*--------------------*/
/*V A R I A B L E S */
/*--------------------*/

:root {
    --color-1: #0009;
    --color-2: #fff9;
    --fonts-fm: Poppins, sans-serif;
}

/*--------------------*/
/* G E N E R A L */
/*--------------------*/
body {
    color: var(--color-1);
    font-family: var(--fonts-fm);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-wrap: wrap;

    nav:not(.nav) {
        position: fixed;
        top: 20px;
        left: 20px;

        a:is(:link, :visited) {
            border-radius: 10px;
            background-color: #383636;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.4s ease-in;
            height: 60px;
            width: 60px;

            svg {
                opacity: 0.7;
                width: 64px;
            }

            a:is(:hover)svg {
                opacity: 1;
            }

            a:is(:hover) {
                transform: scale(1.05);
            }


        }

    }

    main {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        header {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;

            h1 {
                font-size: 4.5rem;
                font-weight: 200;
            }

            h2 {
                font-size: 2rem;
                font-weight: 500;
                border-bottom: 4px solid;
            }

            h3 {
                border-radius: 20px;
                background-color: var(--color-1);
                padding: 4px 12px;
                color: var(--color-2);
                font-weight: 700;
            }
        }

        menu {
            align-items: center;
            display: flex;
            flex-direction: column;
            gap: 0.4rem;
            margin-top: 2rem;

            a:is(:link, :visited) {
                align-items: center;
                background: var(--color-1);
                border-radius: 15px;
                border-style: double;
                border-color: rgba(20, 26, 26, 0.671);
                color: var(--color-2);
                display: flex;
                gap: 0.6rem;
                justify-content: start;
                text-decoration: none;
                transition: all 0.4s ease-in;
                width: 280px;

                span {
                    align-items: center;
                    background-color: #383636;
                    border-radius: 15px 0 0 15px;
                    color: #fff;
                    display: flex;
                    font-size: 1.2rem;
                    height: 25px;
                    justify-content: center;
                    transition: all 0.4s ease-in;
                    width: 40px;
                }
            }

            a:is(:hover) {
                background-color: darkgrey;
                transform: translateX(10px);
            }

            a:is(:hover) span {
                width: 60px;
            }

            a.inactive {
                opacity: 0.4;
                pointer-events: none;
            }
        }

        section {
            background-color: var(--color-1);
            border-radius: 4px;
            padding: 1rem;
            width: 740px;
            align-items: center;

            h3 {
                color: #fffc;
                font-size: 1.4rem;
                font-weight: 400;
                border-bottom: 2px dotted #fff6;
                margin-bottom: 0.6 rem;
            }

            p {
                color: #adff2f;
                font-size: 1.4rem;
            }

            xmp {
                background-color: #0009;
                border-radius: 4px;
                color: #adff2f;
                padding: 10px 10px 20px 10px;
                font-size: 1rem;
            }
        }
    }
}

header img {
    border-radius: 50%;
    object-fit: cover;
    border: 10px solid #312121a4;
    width: 300px;
    height: 300px;
}

/*--------------------*/
/* M A I N  M E N U*/
/*--------------------*/

body.mmenu {

    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(240)'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%234FE'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='540' height='450' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

body.php {
background-color: #3A256D;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23453179' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%234f3d85' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%235a4892' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%2364549e' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%236F60AA' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
    main.main-php {
        header.header-php {
            h1 {
                color: rgb(255, 255, 255);
            }

            h2 {
                color: gray;
                border-bottom: none;
                max-width: 80%;
                font-weight: 400;
            }
        }

        section {
            width: 80%;

            p {
                color: #97afe4;
                font-size: 1rem;
                align-items: center;
            }
        }

        menu {
            a:is(:link, :visit) {
                color: #f8f3f2;
                font-weight: 500;

                span {
                    background-color: #445ca6;
                }
            }

            h3 {
                color: blue;
            }
        }
    }
}

/*- - - - - - */
/*O O P */
/*- - - - - - */

body.opp {
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Cpath fill='none' stroke-width='200' stroke-opacity='0.73' id='a' d='M0.74-509.63l485.39 352.65l-185.4 570.61h-599.97l-185.4-570.61L0.74-509.63 M0.74-510.87l-486.56 353.51l185.85 571.99h601.42L487.3-157.36L0.74-510.87L0.74-510.87z'/%3E%3C/defs%3E%3Cg transform='scale(0.613)' style='transform-origin:center'%3E%3Cg transform='rotate(6.48 0 0)' style='transform-origin:center'%3E%3Cg transform='rotate(-160 0 0)' style='transform-origin:center'%3E%3Cg transform='translate(1000 750)'%3E%3Cuse stroke='%230C0C0C' href='%23a' transform='rotate(10 0 0) scale(1.1)'/%3E%3Cuse stroke='%23131313' href='%23a' transform='rotate(20 0 0) scale(1.2)'/%3E%3Cuse stroke='%23191919' href='%23a' transform='rotate(30 0 0) scale(1.3)'/%3E%3Cuse stroke='%231e1e1e' href='%23a' transform='rotate(40 0 0) scale(1.4)'/%3E%3Cuse stroke='%23232323' href='%23a' transform='rotate(50 0 0) scale(1.5)'/%3E%3Cuse stroke='%23282828' href='%23a' transform='rotate(60 0 0) scale(1.6)'/%3E%3Cuse stroke='%232e2e2e' href='%23a' transform='rotate(70 0 0) scale(1.7)'/%3E%3Cuse stroke='%23343434' href='%23a' transform='rotate(80 0 0) scale(1.8)'/%3E%3Cuse stroke='%23393939' href='%23a' transform='rotate(90 0 0) scale(1.9)'/%3E%3Cuse stroke='%233f3f3f' href='%23a' transform='rotate(100 0 0) scale(2)'/%3E%3Cuse stroke='%23454545' href='%23a' transform='rotate(110 0 0) scale(2.1)'/%3E%3Cuse stroke='%234b4b4b' href='%23a' transform='rotate(120 0 0) scale(2.2)'/%3E%3Cuse stroke='%23515151' href='%23a' transform='rotate(130 0 0) scale(2.3)'/%3E%3Cuse stroke='%23575757' href='%23a' transform='rotate(140 0 0) scale(2.4)'/%3E%3Cuse stroke='%235e5e5e' href='%23a' transform='rotate(150 0 0) scale(2.5)'/%3E%3Cuse stroke='%23646464' href='%23a' transform='rotate(160 0 0) scale(2.6)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;

    main {
        header {
            h1 {
                color: #f9f6f6;
                font-weight: 500;
                text-align: center;
            }

            h2 {
                color: #fcfafaec;
                border-bottom: none;
                max-width: 80%;
                font-weight: 500;
                text-align: center;
            }
        }

        section {
            width: 80%;
            padding: 2rem;
            display: flex;
            flex-direction: column;

            p {
                color: white;
                font-size: 1rem;
                align-items: center;
            }
        }

        menu {
            a:is(:link, :visit) {
                color: #f8f3f2;
                font-weight: 500;

                span {
                    background-color: #7f7e7e;
                    
                }
            }


        }
    }

    ul {
        color: white;
    }

    tr {
        color: white;
    }
}