/* F O N T S */
/*--------------------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/*----------------------*/
/*---------------------------------*/
/* R E S E T */
/*---------------------------------*/



*,
*::before,
*::after {
    box-sizing: border-box;
}

/** {
    margin: 0;
    padding: 0;
}*/

ul[role='list'],
ol[role='list'] {
    list-style: none;
}

html:focus-within {
    scroll-behavior: smooth;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img,
picture,
svg,
video,
canvas {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
}

/*input, button, textarea, select{
    font: inherit; 
}*/

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition: none;
    }
}

body,
html {
    height: 100%;
    scroll-behavior: smooth;
}

/*--------------------*/

/*--------------------*/
/*V A R I A B L E S */
/*--------------------*/

:root {
    --color-1: #0009;
    --color-2: #fff9;
    --fonts-fm: Poppins, sans-serif;
}

/*--------------------*/
/* G E N E R A L */
/*--------------------*/
body {
    color: var(--color-1);
    font-family: var(--fonts-fm);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-wrap: wrap;

    nav:not(.nav) {
        position: fixed;
        top: 20px;
        left: 20px;

        a:is(:link, :visited) {
            border-radius: 10px;
            background-color: #383636;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.4s ease-in;
            height: 60px;
            width: 60px;

            svg {
                opacity: 0.7;
                width: 64px;
            }

            a:is(:hover)svg {
                opacity: 1;
            }

            a:is(:hover) {
                transform: scale(1.05);
            }


        }

    }

    main {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        header {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;

            h1 {
                font-size: 4.5rem;
                font-weight: 200;
            }

            h2 {
                font-size: 2rem;
                font-weight: 500;
                border-bottom: 4px solid;
            }

            h3 {
                border-radius: 20px;
                background-color: var(--color-1);
                padding: 4px 12px;
                color: var(--color-2);
                font-weight: 700;
            }
        }

        menu {
            align-items: center;
            display: flex;
            flex-direction: column;
            gap: 0.4rem;
            margin-top: 2rem;

            a:is(:link, :visited) {
                align-items: center;
                background: var(--color-1);
                border-radius: 15px;
                border-style: double;
                border-color: rgba(20, 26, 26, 0.671);
                color: var(--color-2);
                display: flex;
                gap: 0.6rem;
                justify-content: start;
                text-decoration: none;
                transition: all 0.4s ease-in;
                width: 280px;

                span {
                    align-items: center;
                    background-color: #383636;
                    border-radius: 15px 0 0 15px;
                    color: #fff;
                    display: flex;
                    font-size: 1.2rem;
                    height: 25px;
                    justify-content: center;
                    transition: all 0.4s ease-in;
                    width: 40px;
                }
            }

            a:is(:hover) {
                background-color: darkgrey;
                transform: translateX(10px);
            }

            a:is(:hover) span {
                width: 60px;
            }

            a.inactive {
                opacity: 0.4;
                pointer-events: none;
            }
        }

        section {
            background-color: var(--color-1);
            border-radius: 4px;
            padding: 1rem;
            width: 740px;
            align-items: center;

            h3 {
                color: #fffc;
                font-size: 1.4rem;
                font-weight: 400;
                border-bottom: 2px dotted #fff6;
                margin-bottom: 0.6 rem;
            }

            p {
                color: #adff2f;
                font-size: 1.4rem;
            }

            xmp {
                background-color: #0009;
                border-radius: 4px;
                color: #adff2f;
                padding: 10px 10px 20px 10px;
                font-size: 1rem;
            }
        }
    }
}

header img {
    border-radius: 50%;
    object-fit: cover;
    border: 10px solid #312121a4;
    width: 300px;
    height: 300px;
}

/*--------------------*/
/* M A I N  M E N U*/
/*--------------------*/

body.mmenu {

    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(240)'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%234FE'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='540' height='450' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

body.php {
    background-color: #3A256D;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23453179' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%234f3d85' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%235a4892' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%2364549e' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%236F60AA' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;

    main.main-php {
        header.header-php {
            h1 {
                color: rgb(255, 255, 255);
            }

            h2 {
                color: gray;
                border-bottom: none;
                max-width: 80%;
                font-weight: 400;
            }
        }

        section {
            width: 80%;

            p {
                color: #97afe4;
                font-size: 1rem;
                align-items: center;
            }
        }

        menu {
            a:is(:link, :visit) {
                color: #f8f3f2;
                font-weight: 500;

                span {
                    background-color: #445ca6;
                }
            }

            h3 {
                color: blue;
            }
        }
    }
}

/*- - - - - - */
/*O O P */
/*- - - - - - */

body.opp {
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%23333333' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23666666' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%23999999' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%23cccccc' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23FFFFFF' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23cccccc' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23999999' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23666666' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23333333' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23000000' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;

    main {
        header {
            h1 {
                color: #f9f6f6;
                font-weight: 500;
                text-align: center;
            }

            h2 {
                color: #fcfafaec;
                border-bottom: none;
                max-width: 80%;
                font-weight: 500;
                text-align: center;
            }
        }

        section {
            width: 80%;
            padding: 2rem;
            display: flex;
            flex-direction: column;

            p {
                color: white;
                font-size: 1rem;
                align-items: center;
            }
        }

        menu {
            a:is(:link, :visit) {
                color: #f8f3f2;
                font-weight: 500;

                span {
                    background-color: #7f7e7e;

                }
            }


        }
    }

    ul {
        color: white;
    }

    tr {
        color: white;
    }

    li {
        color: #ffffff;
    }
}